name: Pull request
on: pull_request

jobs:
  commitsar:
    name: Verify commit messages
    steps:
      - uses: actions/checkout@v1
      - name: Run commitsar
        uses: docker://commitsar/commitsar
